.section-works,
.section-stepper {
    padding: 0 85px;
    margin-bottom: 200px;

    h5 {
        color: $color-5;
        font-size: 1.5em;
        margin-bottom: 80px;
    }

    .how-it-works {
        width: 100%;
        margin-bottom: 65px;

        .steper {
            width: 72%;
            height: 2px;
            background-color: $color-3;
            @include alignChildren (center, space-between);
            margin-bottom: 65px;

            .step {
                width: 30px;
                height: 30px;
                background-color: $color-4;
                border: 2px solid $color-1;
                border-radius: 100%;
            }
        }

        .workStep {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 3em;
            width: 100%;

            .step {
                span {
                    font-family: $font-1;
                    font-size: 4.5em;
                    color: $color-3;
                }

                h3,
                p {
                    color: $color-2;
                }

                h3 {
                    font-size: 2em;
                    margin: 40px 0;
                }
            }
        }
    }
}

.section-stepper {
    background-color: $color-2;
    padding: 100px 85px 100px 85px;
    border-radius: 10px;

    .how-it-works {
        margin-bottom: 0;


        .steper {

            .step {
                background-color: $color-2;
            }
        }

        .workStep {
            .step {

                h3,
                p {
                    color: $color-4;
                }
            }
        }
    }
}