// ------About herobanner

.about-herobanner,
.subscribe-herobanner {
    height: 50vh;
    margin-bottom: 170px;
}

.about-herobanner {
    background-image: url(../../../public/assets/img/about/image-hero-whitecup.jpg);
}

.herobanner.about-herobanner,
.herobanner.subscribe-herobanner {

    div {
        h1 {
            font-size: 2.5em;
            line-height: 30px;
        }

        p {
            margin-top: 40px;
            width: 60%;
        }
    }
}

// ------Commitment
.commitment-section {
    color: $color-2;
    margin: 150px auto 285px auto;
    padding: 0 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;

    .img-container {
        justify-self: flex-start;

        img {
            border-radius: 10px;
        }
    }

    .text-container {
        align-self: center;

        h2 {
            font-size: 2.5em;
            margin-bottom: 35px;
        }
    }
}

// Quality
.quality-section {
    background-image: url(../../../public/assets/img/bg-quality.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 170px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;

    .img-container {
        justify-self: flex-end;
        margin: -13% 85px 0 0;


        img {
            border-radius: 10px;
        }
    }

    .text-container {
        padding: 85px 0 175px 85px;
        color: $color-4;

        h2 {
            font-size: 2.5em;
            margin-bottom: 35px;
        }

        p {
            opacity: 0.80;
        }
    }
}

// Headquaters
.headquaters-section {
    padding: 0 85px;
    margin-bottom: 170px;

    h5 {
        color: $color-5;
        font-size: 1.5em;
        margin-bottom: 75px;
    }

    .all-headquaters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: $color-2;


        .headquaters {
            margin-right: 80px;

            h3 {
                font-size: 2em;
                margin: 45px 0 25px 0;
            }
        }
    }
}